<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.atguigu.ioc_02.UserDao" />

    <bean id="userService1" class="com.atguigu.ioc_02.UserService">
        <!-- 构造函数赋值-->
        <!-- ref 引用 value 直接赋值-->
        <constructor-arg name="age" value="18" />
        <constructor-arg name="name" value="张三" />
        <constructor-arg name="userDao" ref="userDao" />
    </bean>

    <bean id="userService2" class="com.atguigu.ioc_02.UserService">
        <!-- set方法赋值 name为set方法去掉set后首字母小写-->
        <!-- ref 引用 value 直接赋值-->
        <property name="age" value="20"/>
        <property name="name" value="李四"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>